.Navitem{
    margin : 0px 10px;
    list-style: none;
    padding: 5px 0px;
    text-align: center;
    letter-spacing: 2px;
}
.active{
    color: white;
}

// For Desktop
@media (min-width : 500px){
    .Navitem{
        border-bottom: none;
        &:hover{
            background-color: transparent;
        }
    }
}