.NavList{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
a{
    color: rgba($color: #fff, $alpha: 0.50);
    text-decoration: none;
    &:hover{
        color: rgba($color: #fff, $alpha: 0.75);
    }
}

// For Desktop
@media (min-width : 500px){
    .NavList{
        flex-direction: column;
    }
}