@import '../../../Assets/Styles/colors.scss';

.Project{
    margin: 150px auto;
    padding: 0px 40px 0px 20px ;
    .HeadingProject{
        color: var(--Heading);
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 56px;
        line-height: 67.2px;
        text-transform: uppercase;
    }
}
@media(max-width : 500px){
    .Project{
        margin: 80px auto;
    }
}