.aboutDiv{
    margin : calc((100vh - 50vh)/2) auto;
    padding: 0px 40px 0px 20px ;
    .fullname{
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 96px;
        line-height: 96px;
        text-transform: uppercase;
        color: #343A40;
        transition: .5s;
        width: fit-content;
        &:hover{
            text-shadow: 2px 2px 3px gray;
        }
    }
    .contactInfo{
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 24px;
        line-height: 36px;
        text-transform: uppercase;
        color: #6C757D;

    }
    .description{
        font-family: muli, sans-serif;
        font-weight: 200;
        font-size: 18px;
        line-height: 27.6px;
        margin-top: 27.6px;
        color: #6C757D;
        text-align: justify;
    }
    
    .downloadResume{
        background-color: transparent;
        margin-top: 20px;
        border: 2px solid #BD5D38;
        padding:  8px 10px;
        color: #BD5D38;
        transition: .5s;
        font-weight: 500;
        &:hover{
            background-color: #BD5D38;
            color: white;
        }
    }
}

// For Mobile Display with maximun width of 500px
@media (max-width : 500px){
    .aboutDiv{
        margin: 80px 10px;        
    }
    .downloadSection{
        display: flex;
        justify-content: center;
    }
}